.engine, .keywords, .social {
    min-width: 150px;
    border-bottom: 1px solid #333;
    display: inline-block;
    margin-right: 20px;
}

#socialTab, #searchengineTab {
    width: 100%;
}

.checkurlbutton {
    margin-bottom: 15px;
}

#content {
    p.detectionresult, p.socialresult {
        margin: 10px 0;

        img {
            padding-right: 4px;
        }
    }
}

.icoDelete {
    cursor: pointer;
    background: url('plugins/Morpheus/images/ico_delete.png') center left no-repeat;
    padding-left: 20px;
    line-height: 20px;
}

.icoAdd {
    cursor: pointer;
    background: url('plugins/Morpheus/images/add.png') center left no-repeat;
    padding-left: 20px;
    line-height: 20px;
    margin-top: 10px;
    display: inline-block;

    .notification + & {
        margin-top: 15px;
    }
}

.icoRefresh {
    cursor: pointer;
    background: url('plugins/Morpheus/images/refresh.png') center left no-repeat;
    padding-left: 22px;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}

.search-detections {
    float: right;
}

#removeDataConfirm .name {
    color: #f55;
}