.engine, .keywords, .social {
    min-width: 150px;
    border-bottom: 1px solid #333;
   display: inline-block;
    margin-right: 20px;
}

.detectionresult img, .socialresult img {
    padding-right: 4px;
}

.icoDelete {
    background: url('plugins/Morpheus/images/ico_delete.png') center left no-repeat;
    padding-left: 20px;
    line-height: 20px;
}

.icoAdd {
    background: url('plugins/Morpheus/images/add.png') center left no-repeat;
    padding-left: 20px;
    line-height: 20px;
}
