<div ng-show="!showEngineForm">
    <h3>{{ 'ReferrersManager_SearchEnginesList'|translate }}</h3>

    <p>
        {{ 'ReferrersManager_HostnameWildcardDesc'|translate }}
    </p>

    <span class="icoAdd" ng-click="showAddSearchEngineForm(true)">
        {{ 'ReferrersManager_AddSearchEngine'|translate }}
    </span>
    <span class="icoRefresh" ng-click="refreshList()">
        {{ 'General_Refresh'|translate }}
    </span>
    <div class="search-detections">
        <input type="text" ng-model="searchText" value="" placeholder="{{ 'General_Search'|translate }}"/>
    </div>

    <table piwik-content-table>

        <thead>
        <tr>
            <th>{{ 'General_Name'|translate }}</th>
            <th>{{ 'ReferrersManager_Hostname'|translate }}</th>
            <th>{{ 'ReferrersManager_Parameters'|translate }}</th>
            <th>{{ 'ReferrersManager_BacklinkPattern'|translate }}</th>
            <th>{{ 'ReferrersManager_Charset'|translate }}</th>
            <th ng-if="userDefinedSearchEngines"></th>
        </tr>

        </thead>

        <tr ng-show="busy">
            <th rowspan="6">
                <div class="loadingPiwik">
                    <img src="plugins/Morpheus/images/loading-blue.gif" alt="{{ 'General_LoadingData'|translate }}"/>
                    {{ 'General_LoadingData'|translate }}
                </div>
            </th>
        </tr>

        <tbody ng-repeat="name in searchEngineNames | filter:searchText" ng-show="!busy">
        <tr ng-repeat="(i, url) in searchEngines[name]">
            <td rowspan="{{ searchEngines[name].length }}" ng-if="i==0">
                <img ng-show="searchEngineLogos[name]" ng-attr-src="{{ searchEngineLogos[name] }}" width="16px" height="16px">
                {{ name }}
            </td>
            <td title="{{ url.url }}">{{ url.url|limitTo:40 }}<span ng-show="(url.url|length) > 40">...</span></td>
            <td title="{{ url.parameters }}">{{ url.parameters|limitTo:30 }}<span ng-show="(url.parameters|length) > 30">...</span></td>
            <td title="{{ url.backlink }}">{{ url.backlink|limitTo:30 }}<span ng-show="(url.backlink|length) > 30">...</span></td>
            <td>{{ url.charset }}</td>
            <td ng-if="userDefinedSearchEngines">
                <span class="icoDelete" ng-if="userDefinedSearchEngines[url.url]" ng-click="removeEngine(url.url)">
                    {{ 'General_Delete'|translate }}
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-show="showEngineForm">

    <h3>{{ 'ReferrersManager_AddSearchEngine'|translate }}</h3>
    {{ 'ReferrersManager_ProvideEngineData'|translate }}

    <p>{{ 'ReferrersManager_DuplicateHostnameInfo'|translate }}</p>

    <table>
        <tr>
            <td><label for="engineName">{{ 'General_Name'|translate }}*:</label></td>
            <td><input type="text" ng-model="newEngineData['name']" id="engineName"/></td>
        </tr>
        <tr>
            <td><label for="engineHost">{{ 'ReferrersManager_Hostname'|translate }}*:</label></td>
            <td><input type="text" ng-model="newEngineData['host']" id="engineHost"/></td>
        </tr>
        <tr>
            <td><label for="engineParameter">{{ 'ReferrersManager_Parameters'|translate }} {{
                'ReferrersManager_CommaSeparated'|translate }}*:</label></td>
            <td><input type="text" ng-model="newEngineData['parameters']" id="engineParameter"/></td>
        </tr>
        <tr>
            <td><label for="engineBacklink">{{ 'ReferrersManager_BacklinkPattern'|translate }}:</label></td>
            <td><input type="text" ng-model="newEngineData['backlink']" id="engineBacklink"/></td>
        </tr>
        <tr>
            <td><label for="engineCharset">{{ 'ReferrersManager_Charset'|translate }}:</label></td>
            <td><input type="text" ng-model="newEngineData['charset']" id="engineCharset"/></td>
        </tr>
    </table>

    <div piwik-save-button onconfirm="addSearchEngine()"></div>

    <div piwik-save-button onconfirm="showAddSearchEngineForm(false)" value="{{ 'General_Cancel'|translate }}"></div>
</div>
