{% extends 'admin.twig' %}

{% block content %}
<h2>Manage search engines and socials</h2>

<h3>Check URL for search engine information</h3>

<p>Here you can paste any referer url in order to check if piwik would recognize it as a search engine:</p>

<input type="text" name="url" id="urlToCheck" size="50" /> <button id="checkurl">Check</button>

<p class="detectionresult">Detected Engine: <img src="plugins/Referrers/images/searchEngines/xx.png" /><span class="engine"></span>  Detected Keywords: <span class="keywords"></span></p>


    {% include "@ReferrersManager/engines.twig" %}


{% include "@ReferrersManager/socials.twig" %}

{% endblock %}