{% extends 'admin.twig' %}

{% block content %}
    <h2>Manage search engines and socials</h2>

    <h3>Check URL for search engine information</h3>

    <p>Here you can paste any referer url in order to check if piwik would recognize it as a search engine:</p>

    <input type="text" name="url" id="urlToCheck" size="50" /> <button id="checkurl">Check</button>

    <p class="detectionresult">Detected Engine: <img src="plugins/Referrers/images/searchEngines/xx.png" /><span class="engine"></span>  Detected Keywords: <span class="keywords"></span></p>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Manage search engines</a></li>
            <li><a href="#tabs-2">Manage social networks</a></li>
        </ul>
        <div id="tabs-1">
            {% include "@ReferrersManager/engines.twig" %}
        </div>
        <div id="tabs-2">
            {% include "@ReferrersManager/socials.twig" %}
        </div>
    </div>

{% endblock %}