{% extends 'admin.twig' %}

{% block content %}
    <h2>Manage search engines and social networks</h2>

    <h3>Check URL for search engine and social network information</h3>

    <p>Here you can paste any referer url in order to check if piwik would recognize it as a search engine and/or a social network:</p>

    <input type="text" name="url" id="urlToCheck" size="50" /> <button id="checkurl">Check</button>

    <p class="detectionresult">Detected Engine: <img src="plugins/Referrers/images/searchEngines/xx.png" /><span class="engine"></span>  Detected Keywords: <span class="keywords"></span></p>
    <p class="socialresult">Detected Social Network: <img src="plugins/Referrers/images/socials/xx.png" /><span class="social"></span></p>
    <div id="tabs">
        <ul>
            <li><a href="#searchengineTab">Manage search engines</a></li>
            <li><a href="#socialTab">Manage social networks</a></li>
        </ul>
        <div id="searchengineTab">
            {% include "@ReferrersManager/engines.twig" %}
        </div>
        <div id="socialTab">
            {% include "@ReferrersManager/socials.twig" %}
        </div>
    </div>

{% endblock %}
