<div ng-controller="CheckReferrerUrlController">
    <input type="text" size="50" ng-model="urlToCheck"
           ng-change="clearResult()"/>

    <div piwik-save-button onconfirm="checkResult()" class="checkurlbutton"
         value="{{ 'ReferrersManager_CheckUrlSend'|translate }}"></div>

    <p class="detectionresult">{{ 'ReferrersManager_DetectedEngine'|translate }}: <img
            ng-attr-src="{{ detectedEngineImg }}" height="16px"/><span
            class="engine" ng-bind="detectedEngine"></span> {{ 'ReferrersManager_DetectedKeywords'|translate }}: <span
            class="keywords" ng-bind="detectedKeyword"></span></p>
    <p class="socialresult">{{ 'ReferrersManager_DetectedSocial'|translate }}: <img
            ng-attr-src="{{ detectedSocialImg }}" height="16px"/><span class="social" ng-bind="detectedSocial"></span></p>
</div>