name: Translation Updates

on:
  schedule:
  - cron: "0 2 * * 6"

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_ROOT_PASSWORD: ""
          MYSQL_DATABASE: piwik_tests
        ports:
          - 3306/tcp

    steps:
    - uses: shivammathur/setup-php@v1
      with:
        php-version: '7.3'
    - uses: actions/checkout@v2
      with:
        ref: 'master'
        path: 'ReferrersManager'
    - uses: actions/checkout@v2
      with:
        repository: 'matomo-org/matomo'
        path: 'matomo'
        ref: '4.x-dev'
        lfs: false
    - name: Prepare branches
      run: | 
          cat <<- EOF > $HOME/.netrc
            machine github.com
            login $GITHUB_ACTOR
            password $GITHUB_TOKEN
            machine api.github.com
            login $GITHUB_ACTOR
            password $GITHUB_TOKEN
          EOF
          chmod 600 $HOME/.netrc
          cd $GITHUB_WORKSPACE/ReferrersManager
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git config --global user.name "$GITHUB_ACTOR"
          git push origin --delete translationupdates || true
          git branch -D translationupdates || true
          git branch translationupdates
          git checkout -f translationupdates
    - name: Install submodules and dependencies
      run: |
          cd $GITHUB_WORKSPACE/matomo
          git submodule update --init --force
          composer install --prefer-dist
    - name: Initialize Matomo
      run: |
          ln -s $GITHUB_WORKSPACE/ReferrersManager $GITHUB_WORKSPACE/matomo/plugins/ReferrersManager
          cp $GITHUB_WORKSPACE/matomo/tests/travis/config.ini.travis.php $GITHUB_WORKSPACE/matomo/config/config.ini.php
          cd $GITHUB_WORKSPACE/matomo
          ./console development:enable
          ./console plugin:activate ReferrersManager
    - name: Sync translations
      run: |
          cd $GITHUB_WORKSPACE/matomo
          ./console translations:update --username ${{ secrets.TransifexUsername }} --password ${{ secrets.TransifexPassword }} --force --plugin=ReferrersManager --no-interaction
    - name: Check for changes
      id: changes
      run: | 
          cd $GITHUB_WORKSPACE/ReferrersManager
          git add lang/
          git add "*.json"
          IFS=$'\n'
          changes=( $(git diff --numstat HEAD | grep -E '([0-9]+)\s+([0-9]+)\s+[a-zA-Z\/]*lang\/([a-z]{2,3}(-[a-z]{2,3})?)\.json' ) )
          unset IFS
          
          # abort here if no change available
          if [[ ${#changes[@]} -eq 0 ]]
          then
              exit 0
          fi
          declare -i totaladditions=0
          declare -A additionsByLang
          for (( i=0; i < ${#changes[@]}; i++ )); do
            line=( ${changes[$i]} )
            additions=${line[0]}
            
            if [[ ${line[0]} = "0" ]]
            then
              continue;
            fi
            
            file=${line[2]}
            lang=$( echo ${line[2]} | grep -oE '([a-z]{2,3}(-[a-z]{2,3})?)\.json' | cut -d'.' -f 1 )
            totaladditions=$(( totaladditions + additions ))
            additionsByLang[$lang]=$(( additionsByLang[$lang] + additions ))
          done
          title="Updated $totaladditions strings in ${#additionsByLang[@]} languages (${!additionsByLang[@]})"
          languageInfo=( $( $GITHUB_WORKSPACE/matomo/console translations:languageinfo | tr " " "_" ) )
          lines=$( < $GITHUB_WORKSPACE/ReferrersManager/lang/en.json wc -l )
          for i in ${!additionsByLang[@]}; do
            for j in ${languageInfo[@]}; do
              if [[ "$j" == "$i|"* ]];
              then
                IFS=$'\n'
                info=( $( echo "$j" | tr "|" "\n" ) )
                unset IFS
                break
              fi
            done
            
            linesInLang=$( < $GITHUB_WORKSPACE/ReferrersManager/lang/$i.json wc -l )
            percentage=$(( 100 * (linesInLang - 4) / (lines - 4) ))
            name=$( echo ${info[1]} | tr "_" " " )
            message="$message- Updated $name (${additionsByLang[$i]} changes / $percentage% translated)\n"
          done
          message="$message\n\nHelp us translate Matomo in your language!\nSignup at https://www.transifex.com/matomo/matomo/\nIf you have any questions, get in touch with us at translations@matomo.org"
          echo $title
          echo $message
          echo ::set-output name=title::$title
          echo ::set-output name=message::$message
      shell: bash 
    - name: Push changes
      run: |
          cd $GITHUB_WORKSPACE/ReferrersManager
          git commit -m "language update"
          git push --set-upstream origin translationupdates
    - name: Create PR    
      run: |
          curl \
                 --request POST \
                 --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
                 --header 'content-type: application/json' \
                 --data '{
                  "title":"[automatic translation update] ${{ steps.changes.outputs.title }}",
                  "body":"${{ steps.changes.outputs.message }}",
                  "head":"translationupdates",
                  "base":"master"
                  }' \
                 --url https://api.github.com/repos/${GITHUB_REPOSITORY}/pulls
      shell: bash
      if: steps.changes.outputs.title
